/* div{
    height:290px;
    width:350px;
    background-color: white;
} */
.cont{
    height:300px;
    width:400px;
    background-image: linear-gradient(rgb(1, 1, 22),rgb(42, 42, 216));
    color: white;
    border-radius: 10px;
}
section{
    text-align: center;
}
img{
    padding: 20px;
}